* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #F5F5FB;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask.hide {
  opacity: 0;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(155, 80, 188, 0.25);
  animation: loader 0.7s ease infinite;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}

.button-up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #FAF8EB;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  border: 2px solid var(--accent);
}

@media (max-width: 767px) {
  .button-up {
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
}

.header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fefefe;
  transition: opacity 0.4s ease;
  opacity: 0;
  transform: translateY(-60%);
  transition: transform 1.5s ease;
}

.header.anim-active {
  transform: translateY(0%);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1500px) {
  .header__inner {
    justify-content: flex-end;
    height: 100%;
  }
}

@media (max-width: 1500px) {
  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

.header-nav {
  flex: 1 1 auto;
  padding: 10px 0px;
}

@media (max-width: 991px) {
  .header-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    transform: translateY(-100%);
    transition: 0.4s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    overflow: auto;
  }
  .header-nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.header-nav__list {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .header-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
  }
}

.header-nav__item {
  margin: 0px 40px;
  position: relative;
}

.header-nav__item:last-of-type {
  margin: 0px 0px 0px 40px;
}

@media (max-width: 1400px) {
  .header-nav__item {
    margin: 0px 20px;
  }
  .header-nav__item:last-of-type {
    margin: 0px 0px 0px 20px;
  }
}

@media (max-width: 1100px) {
  .header-nav__item {
    margin: 0px 15px;
  }
  .header-nav__item:last-of-type {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 991px) {
  .header-nav__item {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 50px;
    width: 100%;
  }
  .header-nav__item:last-of-type {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 50px;
  }
}

.header-nav__link {
  line-height: 60px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s ease;
}

@media (max-width: 991px) {
  .header-nav__link {
    font-size: 25px;
  }
}

.header-nav__link:hover {
  opacity: 0.5;
}

.header-burger {
  display: none;
}

@media (max-width: 991px) {
  .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 6;
  }
  .header-burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .header-burger::before, .header-burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
}

.menu-arrow {
  width: 14px;
  height: 14px;
  margin: 0px 0px 0px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  vertical-align: text-top;
}

@media (max-width: 991px) {
  .menu-arrow {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
  }
}

.menu-arrow img {
  margin: 2px 0px 0px 0px;
  transition: 0.4s ease;
  width: 14px;
  height: 14px;
}

@media (max-width: 991px) {
  .menu-arrow img {
    width: 25px;
    height: 25px;
  }
}

.menu-arrow:hover img {
  transform: rotate(180deg);
}

.menu-arrow:hover .header-nav__sublist {
  transform: translate(-20px, 0px);
  display: block;
}

.header-nav__sublist {
  display: none;
  padding: 20px 20px 10px 20px;
  transform: translate(-20px, 10px);
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  background-color: #fefefe;
  transition: 1s ease;
}

.header-nav__sublist.open {
  transform: translate(-20px, 0px);
  display: block;
}

@media (max-width: 991px) {
  .header-nav__sublist.open {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }
}

.header-nav__subitem {
  margin: 0px 0px 15px 0px;
}

.header-nav__sublink {
  font-weight: 700;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s ease;
}

.header-nav__sublink:hover {
  opacity: 0.5;
}

.intro-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/intro/bg2.webp) no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.4s ease;
  transform: translateY(20%);
  transition: transform 1.5s ease;
}

.intro-section.anim-active {
  transform: translateY(0%);
}

.intro-section::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}

.intro__subtitle {
  margin: 0px 0px 15px 0px;
  font-size: 25px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 565px) {
  .intro__subtitle {
    font-size: 22px;
  }
}

.intro__title {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 15px 0px;
  font-size: 90px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .intro__title {
    font-size: 76px;
  }
}

@media (max-width: 991px) {
  .intro__title {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 54px;
  }
}

@media (max-width: 565px) {
  .intro__title {
    font-size: 45px;
    white-space: normal;
    line-height: 1;
  }
}

.intro__stylist {
  display: inline-block;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 500;
  position: relative;
}

@media (max-width: 767px) {
  .intro__stylist {
    font-size: 30px;
  }
}

@media (max-width: 565px) {
  .intro__stylist {
    font-size: 26px;
    max-width: 200px;
  }
}

.intro__stylist span {
  position: relative;
}

@media (max-width: 1191px) {
  .intro__stylist span {
    display: inline-block;
  }
}

.intro__stylist span::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.intro__stylist span::after {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: -7px;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro__social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 767px) {
  .intro__social {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.intro__social-item {
  margin: 0px 10px 0px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.intro__social-item a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__social-item:hover {
  background: var(--accent);
  transform: scale(1.1);
}

.intro__social-item:hover .contacts__social-icon {
  fill: #fff;
}

.intro__social-icon {
  width: 25px;
  height: 25px;
  fill: var(--white);
  transition: 0.4s ease;
}

.about-section {
  position: relative;
  padding: 120px 0px 120px 0px;
}

@media (max-width: 991px) {
  .about-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .about-section {
    padding: 70px 0px;
  }
}

.about-section::before {
  content: '';
  display: block;
  width: 35%;
  height: 100%;
  background: var(--accent);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.about {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  transform: translateY(10%);
  transition: transform 1.0s ease;
}

.about.anim-active {
  transform: translateY(0%);
}

@media (max-width: 991px) {
  .about {
    display: block;
    height: auto;
  }
}

.about__column {
  flex: 0 0 50%;
}

.about__column--1 {
  padding: 0px 50px 0px 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .about__column--1 {
    max-width: 70%;
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
  }
}

@media (max-width: 565px) {
  .about__column--1 {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
  }
}

.about__column--2 {
  padding: 0px 0px 0px 50px;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .about__column--2 {
    padding: 30px 20px;
    background-color: #F5F5FB;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 565px) {
  .about__column--2 {
    padding: 30px 10px;
  }
}

.about__image {
  border: 10px solid #fff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0px 0px 100% 0px;
  width: 100%;
}

.about__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about__content {
  padding: 0px 30px 0px 0px;
}

@media (max-width: 565px) {
  .about__content {
    padding: 0px 0px 0px 0px;
  }
}

.about__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
}

@media (max-width: 565px) {
  .about__title {
    font-size: 35px;
  }
}

.about__title::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #ea8ec9;
  margin: 30px 0px 30px;
}

.about__subtitle {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #0f0a0a;
}

.about__text {
  margin: 0px 0px 10px 0px;
}

.about__text:last-of-type {
  margin: 0px 0px 60px 0px;
}

.about__text--accent {
  font-weight: 700;
  color: #0f0a0a;
}

.btn {
  display: inline-block;
  height: 60px;
  padding: 0px 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 56px;
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: #fff;
  transition: 0.4s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 565px) {
  .btn {
    padding: 0px 30px;
  }
}

.btn:hover {
  background-color: #fff;
  color: var(--accent);
}

@media (max-width: 565px) {
  .btn--about {
    width: 100%;
  }
}

.services-section {
  padding: 120px 0px 120px 0px;
}

@media (max-width: 991px) {
  .services-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .services-section {
    padding: 70px 0px;
  }
}

.services__text {
  text-align: center;
  max-width: 640px;
  margin: 0px auto 50px;
}

@media (max-width: 565px) {
  .services__text {
    padding: 0px 10px;
  }
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media (max-width: 767px) {
  .services__cards {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.cards__item {
  padding: 50px 40px 40px;
  background-color: #fff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1s ease;
}

.cards__item.anim-active {
  opacity: 1;
}

@media (max-width: 991px) {
  .cards__item {
    padding: 30px 20px 20px;
  }
}

@media (max-width: 565px) {
  .cards__item {
    padding: 20px 10px 10px;
  }
}

.cards__item:hover {
  transform: scale(1.05);
}

.cards__icon {
  margin: 0px 0px 30px 0px;
  border: 10px solid #fff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: 200px;
  width: 200px;
  position: relative;
  padding: 0px 0px 0% 0px;
}

.cards__icon img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.cards__title {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  color: #0f0a0a;
  font-weight: 700;
}

.cards__list {
  margin: 0px 0px 30px 0px;
  flex: 1 1 auto;
}

.cards__list-item {
  margin: 0px 0px 5px 0px;
}

.cards__price,
.cards__duration {
  font-size: 16px;
  font-weight: 700;
  color: #0f0a0a;
}

.cards__price span,
.cards__duration span {
  color: var(--accent);
}

.cards__duration {
  margin: 0px 0px 20px 0px;
}

.cards__btn {
  width: 100%;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.parsing-section {
  margin: 80px 0px 0px 0px;
  padding: 50px 0px 100px;
}

.parsing {
  transform: translateY(10%);
  transition: transform 1.5s ease;
}

.parsing.anim-active {
  transform: translateY(0%);
}

.parsing__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
}

@media (max-width: 565px) {
  .parsing__title {
    font-size: 36px;
  }
}

.parsing__title::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: var(--accent);
  margin: 30px 0 30px;
}

.parsing__subtitle {
  margin: 0px 0px 20px 0px;
  font-size: 22px;
  font-weight: 500;
  color: #0f0a0a;
}

.parsing__list {
  margin: 0px 0px 20px 0px;
}

.parsing__list-item:not(:last-of-type) {
  margin: 0px 0px 10px 0px;
}

.parsing__list-item span {
  margin: 0px 10px 0px 0px;
  font-size: 26px;
  font-weight: 800;
}

.parsing__text {
  margin: 0px 0px 30px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #0f0a0a;
}

.parsing__text--mm {
  margin: 30px 0px 10px 0px;
}

.parsing__price,
.parsing__duration {
  margin: 0px 0px 10px 0px;
  font-size: 22px;
  font-weight: 700;
  color: #0f0a0a;
}

.parsing__price span,
.parsing__duration span {
  color: var(--accent);
}

.parsing__price--mm,
.parsing__duration--mm {
  margin: 30px 0px 0px 0px;
}

.parsing__gallery {
  margin: 60px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 10px;
}

@media (max-width: 991px) {
  .parsing__gallery {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 565px) {
  .parsing__gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

.parsing__gallery-item {
  position: relative;
  padding: 0px 0px 135% 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s ease;
}

.parsing__gallery-item.anim-active {
  opacity: 1;
}

.parsing__gallery-item:hover img {
  transform: scale(1.05);
}

.parsing__gallery-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.4s ease;
}

@media (max-width: 565px) {
  .parsing__btn {
    width: 100%;
  }
}

.magic1-section {
  height: 100vh;
  width: 100%;
  background: url(../img/magic/bg.jpg) no-repeat;
  background-position: center 35%;
  background-size: cover;
  position: relative;
  transform: translateY(20%);
  transition: transform 1.5s ease;
}

.magic1-section.anim-active {
  transform: translateY(0%);
}

.magic1-section::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.magic1__content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.magic__title {
  margin: 0px 0px 15px 0px;
  font-size: 90px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .magic__title {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .magic__title {
    font-size: 60px;
  }
}

@media (max-width: 565px) {
  .magic__title {
    font-size: 42px;
  }
}

.magic__subtitle {
  max-width: 670px;
  margin: 0px 0px 35px 0px;
  font-size: 25px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 991px) {
  .magic__subtitle {
    font-size: 22px;
  }
}

@media (max-width: 565px) {
  .magic__subtitle {
    font-size: 18px;
  }
}

.magic__author {
  text-align: right;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

@media (max-width: 565px) {
  .magic__author {
    font-size: 16px;
  }
}

.m-title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
}

.m-title::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #ea8ec9;
  margin: 30px 0 30px;
}

.m-subtitle {
  margin: 0px 0px 15px 0px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #0f0a0a;
}

.magic2__text {
  margin: 0px 0px 8px 0px;
}

.magic2__text--margin {
  margin: 0px 0px 38px 0px;
}

.magic2__text--bold {
  font-size: 18px;
  font-weight: 800;
}

.magic2,
.magic3,
.magic4,
.magic5 {
  padding: 120px 0px 120px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

@media (max-width: 1199px) {
  .magic2,
  .magic3,
  .magic4,
  .magic5 {
    grid-gap: 40px;
  }
}

@media (max-width: 991px) {
  .magic2,
  .magic3,
  .magic4,
  .magic5 {
    grid-template-columns: 1fr;
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .magic2,
  .magic3,
  .magic4,
  .magic5 {
    padding: 70px 0px;
  }
}

@media (max-width: 991px) {
  .magic3-column--left,
  .magic5-column--left {
    grid-row: 2 / 3;
  }
}

@media (max-width: 991px) {
  .magic3-column--right,
  .magic5-column--right {
    grid-row: 1 / 2;
  }
}

.magic2__image,
.magic3__image,
.magic5__image {
  border: 10px solid #fff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0px 0px 100% 0px;
}

.magic2__image img,
.magic3__image img,
.magic5__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.magic4__image {
  border: 10px solid #fff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0px 0px 95% 0px;
}

.magic4__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.magic2__list {
  margin: -20px 0px 0px 0px;
}

.magic2__list-item:not(:last-of-type) {
  margin: 0px 0px 6px 0px;
}

.magic2__list-item span {
  margin: 0px 10px 0px 0px;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 800;
  color: #ea8ec9;
}

.magic6__list {
  margin: -20px 0px 30px 0px;
}

.magic6__list-item {
  position: relative;
  padding: 0px 0px 0px 40px;
}

.magic6__list-item:not(:last-of-type) {
  margin: 0px 0px 6px 0px;
}

.magic6__list-item::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/magic/mark.svg) no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.decor {
  margin: 120px 0px 0px 0px;
  width: 100%;
  height: 600px;
  background: url(../img/magic/decor.jpg) no-repeat;
  background-position: 0% 3%;
  background-size: cover;
}

@media (max-width: 991px) {
  .decor {
    margin: 90px 0px 0px;
  }
}

@media (max-width: 565px) {
  .decor {
    margin: 70px 0px 0px;
  }
}

.magic7-section {
  padding: 120px 0px 120px 0px;
}

@media (max-width: 991px) {
  .magic7-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .magic7-section {
    padding: 70px 0px;
  }
}

.magic__price {
  margin: 40px 0px 1px 0px;
  font-size: 22px;
  font-weight: 700;
  color: #0f0a0a;
}

@media (max-width: 565px) {
  .magic__price {
    font-size: 20px;
  }
}

.magic__price span {
  color: var(--accent);
}

.magic2__payment {
  margin: 15px 0px 40px 0px;
  font-size: 22px;
  font-weight: 700;
  color: #ea8ec9;
  text-transform: uppercase;
}

.education-section {
  background-color: rgba(255, 142, 201, 0.1);
  padding: 100px 0px;
}

@media (max-width: 991px) {
  .education-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .education-section {
    padding: 70px 0px;
  }
}

.education {
  transform: translateY(10%);
  transition: transform 1.5s ease;
}

.education.anim-active {
  transform: translateY(0%);
}

.education__text {
  text-align: center;
  max-width: 640px;
  margin: 0px auto 50px;
}

@media (max-width: 565px) {
  .education__text {
    padding: 0px 10px;
  }
}

.education-content {
  display: flex;
}

@media (max-width: 991px) {
  .education-content {
    flex-direction: column;
  }
}

.education-content__column--left {
  flex: 0 0 50%;
  padding: 0px 30px 0px 0px;
}

@media (max-width: 991px) {
  .education-content__column--left {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
  }
}

.education-content__column--right {
  flex: 0 0 50%;
  padding: 0px 10px 0px 0px;
}

@media (max-width: 991px) {
  .education-content__column--right {
    padding: 0px 0px 0px 0px;
  }
}

.education-content__title {
  padding: 0px 0px 0px 50px;
  margin: 0px 0px 40px 0px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
}

.education-item {
  padding: 0px 0px 0px 50px;
  position: relative;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 767px) {
  .education-item {
    padding: 0px 0px 0px 35px;
    margin: 0px 0px 20px 0px;
  }
}

.education-item::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/education/mark.svg) no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.education-item__title {
  margin: 0px 0px 6px 0px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
}

.education-item__subtitle {
  margin: 0px 0px 2px 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #0f0a0a;
}

.education-item__date {
  margin: 0px 0px 6px 0px;
  text-transform: uppercase;
  color: var(--text);
  letter-spacing: 2px;
}

.education-item__text {
  line-height: 2;
}

.portfolio-section {
  padding: 100px 0px;
}

@media (max-width: 991px) {
  .portfolio-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .portfolio-section {
    padding: 70px 0px;
  }
}

.portfolio__text {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 565px) {
  .portfolio__text {
    padding: 0px 10px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

@media (max-width: 991px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 565px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gallery__item {
  position: relative;
  padding: 0px 0px 135% 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.gallery__item.anim-active {
  opacity: 1;
}

.gallery__item:hover img {
  transform: scale(1.1);
}

.gallery__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.8s ease;
}

.contacts-section {
  padding: 100px 0px 150px 0px;
}

@media (max-width: 991px) {
  .contacts-section {
    padding: 90px 0px;
  }
}

@media (max-width: 565px) {
  .contacts-section {
    padding: 70px 0px;
  }
}

.contacts__title {
  margin: 0px 0px 60px 0px;
}

.contacts__text {
  text-align: center;
  max-width: 640px;
  margin: 0px auto 50px;
}

@media (max-width: 565px) {
  .contacts__text {
    padding: 0px 10px;
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: repeat(2, fit-content(350px));
  justify-content: center;
  margin: 0px 0px 50px 0px;
  column-gap: 50px;
  row-gap: 30px;
}

@media (max-width: 767px) {
  .contacts__content {
    grid-template-columns: 1fr;
    justify-items: left;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  width: 290px;
  margin: 0 auto;
}

.contacts__item span {
  margin: 0px 25px 0px 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(220, 150, 90, 0.1);
  color: #dc965a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.contacts__item img {
  width: 30px;
  height: 30px;
}

.contacts__item a {
  font-size: 20px;
  color: var(--text);
  position: relative;
  transition: 0.4s ease;
}

.contacts__item a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--text);
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.4s ease;
}

.contacts__item a:hover {
  color: #0f0a0a;
}

.contacts__item a:hover::after {
  transform: translateX(-50%) scale(1);
}

.footer {
  flex: 0 0 auto;
  height: 120px;
  background: linear-gradient(to right, #9b50bc 0%, #9b50bc 50%, #ea8ec9 100%);
}

@media (max-width: 767px) {
  .footer {
    height: auto;
  }
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-inner {
    flex-direction: column-reverse;
  }
}

.copyright {
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 120px;
}

@media (max-width: 767px) {
  .copyright {
    line-height: 90px;
  }
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

@media (max-width: 1530px) {
  .footer__social {
    padding: 0px 50px 0px 0px;
  }
}

@media (max-width: 767px) {
  .footer__social {
    padding: 50px 0px 30px;
  }
}

.footer__social-item {
  margin: 0px 25px 0px 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(220, 150, 90, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

@media (max-width: 565px) {
  .footer__social-item {
    margin: 0px 10px 0px 0px;
  }
}

.footer__social-item a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-item:hover {
  transform: scale(1.1);
}

.footer__social-icon {
  width: 30px;
  height: 30px;
  fill: var(--accent);
  transition: 0.4s ease;
  background: #fff;
}

:root {
  --text: #5e6472;
  --accent: rgba(155, 80, 188, 1);
  --white: #fefefe;
  --purple: rgba(234, 142, 201, 1);
  --violet: rgba(155, 21, 188, 1);
  --black: #111026;
}

html {
  scroll-behavior: smooth;
}

html.preloader .header,
html.preloader .intro-section {
  opacity: 1;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: #F5F5FB;
  color: var(--text);
}

body.lock {
  overflow-y: hidden;
}

body.touch .header-nav__sublist.open {
  display: block;
}

body.touch .menu-arrow.active {
  transform: rotate(180deg);
}

body.mouse .header-nav__item:hover .header-nav__sublist {
  display: block;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

@media (max-width: 565px) {
  .container {
    padding: 0px 10px;
  }
}

.title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #0f0a0a;
  text-align: center;
}

@media (max-width: 565px) {
  .title {
    font-size: 35px;
  }
}

.title::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #ea8ec9;
  margin: 30px auto 30px;
}
