.education-section {
   background-color: rgba(255, 142, 201, 0.1);
   padding: 100px 0px;
   @media (max-width: 991px) {
      padding: 90px 0px;
   }
   @media (max-width: 565px) {
      padding: 70px 0px;
   }
}
.education {
   // анимируемый элемент
   transform: translateY(20%);
   transition: transform 1.5s ease;
   &.anim-active {
      transform: translateY(0%);
   }
}
.education__title {
}
.education__text {
   text-align: center;
   max-width: 640px;
   margin: 0px auto 50px;
   @media (max-width: 565px) {
      padding: 0px 10px;
   }
}
.education-content {
   display: flex;
   @media (max-width: 991px) {
      flex-direction: column;
   }
}
.education-content__column {
   &--left {
      flex: 0 0 50%;
      padding: 0px 30px 0px 0px; 
      @media (max-width: 991px) {
         padding: 0px 0px 0px 0px;
         margin: 0px 0px 50px 0px;
      }
   }
   &--right {
      flex: 0 0 50%;
      padding: 0px 10px 0px 0px; 
      @media (max-width: 991px) {
         padding: 0px 0px 0px 0px;
      }
   }
}
.education-content__title {
   padding: 0px 0px 0px 50px;
   margin: 0px 0px 40px 0px;
   font-size: 32px;
   line-height: 1.2;
   font-weight: 800;
   color: #0f0a0a;
}
.education-item {
   padding: 0px 0px 0px 50px;
   position: relative;
   margin: 0px 0px 30px 0px;
   @media (max-width: 767px) {
      padding: 0px 0px 0px 35px;
      margin: 0px 0px 20px 0px;
   }
   &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/education/mark.svg) no-repeat;
      background-position: top center;
      background-size: cover;
      position: absolute;
      top: 0px;
      left: 0px;
   }
}
.education-item__title {
   margin: 0px 0px 6px 0px;
   font-size: 22px;
   line-height: 1.2;
   font-weight: 800;
   color: #0f0a0a;
}
.education-item__subtitle {
   margin: 0px 0px 2px 0px;
   font-size: 18px;
   line-height: 1.2;
   font-weight: 600;
   color: #0f0a0a;
}
.education-item__date {
   margin: 0px 0px 6px 0px;
   text-transform: uppercase;
   color: var(--text);
   letter-spacing: 2px;
}
.education-item__text {
   line-height: 2;
}
